*{
    margin: 0;
    padding: 0;
}
:root {
    --color-one: rgb(209,47,20);
    --color-two: rgb(36,31,123);
    --color-three: rgb(219, 201, 59);
}

html, body {
    height: 100vh;
}

body {
    animation: switchBackgroundColors 2s infinite step-end; 
    -webkit-animation: switchBackgroundColors 2s infinite step-end;
}
  @keyframes switchBackgroundColors
      {
        0%   {background-color: var(--color-one);}
        33%  {background-color: var(--color-two);}     
        66%  {background-color: var(--color-three);}
        100% {background-color: var(--color-one);}
      }
  
 @-webkit-keyframes switchBackgroundColors
      {
         0%   {background-color: var(--color-one);}
         33%  {background-color: var(--color-two);}     
         66%  {background-color: var(--color-three);}
         100% {background-color: var(--color-one);}
      }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url(assets/partyTiger.png); /* Photo by Jack Merlin on Unsplash (added sunglasses and party hat) */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-left: 1vw;
    font-family: 'Luckiest Guy', sans-serif ;
    font-size: 7vw;
    letter-spacing: 0.3vw;
    text-shadow: 0vw 0vw 0.4vw black;
}

#happy {
    padding-top: 1.4em;
}

#birthday {

}

#nicholas {
    padding-bottom: 1.4em;
}

.color1 {
        animation: switchColors1 2s infinite step-end; 
       -webkit-animation: switchColors1 2s infinite step-end;
      } 
     @keyframes switchColors1
         {
           0%   {color: var(--color-one);}
           33%  {color: var(--color-two);}     
           66%  {color: var(--color-three);}
           100% {color: var(--color-one);}
         }
     
    @-webkit-keyframes switchColors1
         {
            0%   {color: var(--color-one);}
            33%  {color: var(--color-two);}     
            66%  {color: var(--color-three);}
            100% {color: var(--color-one);}
         }


.color2 {
    animation: switchColors2 2s infinite step-end; 
   -webkit-animation: switchColors2 2s infinite step-end;
  } 
 @keyframes switchColors2
     {
       0%   {color: var(--color-two);}
       33%  {color: var(--color-three);}     
       66%  {color: var(--color-one);}
       100% {color: var(--color-two);}
     }
 
@-webkit-keyframes switchColors2
     {
        0%   {color: var(--color-two);}
        33%  {color: var(--color-three);}     
        66%  {color: var(--color-one);}
        100% {color: var(--color-two);}
     }


.color3 {
    animation: switchColors3 2s infinite step-end; 
   -webkit-animation: switchColors3 2s infinite step-end;
  } 
 @keyframes switchColors3
     {
       0%   {color: var(--color-three);}
       33%  {color: var(--color-one);}     
       66%  {color: var(--color-two);}
       100% {color: var(--color-three);}
     }
 
@-webkit-keyframes switchColors3
     {
        0%   {color: var(--color-three);}
        33%  {color: var(--color-one);}     
        66%  {color: var(--color-two);}
        100% {color: var(--color-three);}
     }
